.work {
  background-color: rgb(23, 22, 22);
}

.work__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
  color: #fff;
}

.tags {
  /* border: 1px solid #fff;
    border-radius: 1rem;
    width: max-content;
    padding-left: 0.75rem;
    padding-right: 0.75rem; */
  font-weight: 200;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  background: linear-gradient(
    to right,
    #00ff95,
    #00e5ff,
    #6691fe,
    #00e5ff,
    #00ff95
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: normal;
  animation: animate-gradient 2.5s linear infinite;
}

.work__container {
  grid-template-columns: repeat(3, max-content);
  gap: 3rem;
  justify-content: center;
}

.work__card {
  /* background-color: var(--container-color); */
  background-color: #221f1f;
  /* border: 1px solid #626262; */
  padding: 1.25rem;
  column-gap: 0.25rem;
  border-radius: 1rem;
}

.work__img {
  width: 295px;
  height: 200px;
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
}

.work__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.work__button {
  /* color: var(--text-color); */
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  color: #fff;
}

.work__button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

.work__button:hover .work__button-icon {
  transform: translateX(0.5rem) scale(1.35);
  background: linear-gradient(
    to right,
    #fc72ff,
    #8f68ff,
    #487bff,
    #8f68ff,
    #fc72ff
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

.work__button:hover {
  /* transform: translateX(0.5rem) scale(1.35); */
  /* background: linear-gradient(to right , #fc72ff, #8f68ff , #487bff , #8f68ff , #fc72ff); */
  /* background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite; */

  color: #818181;
}

@media screen and (max-width: 768px) {
  .work__container {
    /* grid-template-columns: max-content; */
    grid-template-columns: repeat(1, max-content);
    row-gap: 2rem;
  }
}
